name: Build Debase

on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
    paths:
      - '.github/workflows/build.yml'
      - 'driver/*.hpp'
      - 'driver/*.cpp'

env:
  LLVM_VERSION: 19.1.0

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: Windows
          os: windows-latest
          id: win
          llvm_arch: x64
          base_flags: >-
            -DCMAKE_C_COMPILER=clang
            -DCMAKE_CXX_COMPILER=clang++
          extra_flags: ''
          build_flags: --parallel
        
        - name: macOS
          os: macos-latest
          id: mac
          llvm_arch: arm64
          base_flags: >-
            -DCMAKE_C_COMPILER=clang
            -DCMAKE_CXX_COMPILER=clang++
          extra_flags: >-
            -DCMAKE_OSX_ARCHITECTURES='arm64'
            -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
            -DCMAKE_AR='/usr/bin/ar'
            -DCMAKE_RANLIB='/usr/bin/ranlib'
            -DDEBASE_VERBOSE_LINKER=ON
            -DDUMP_LIBS=ON
          build_flags: ''

        - name: Linux
          os: ubuntu-22.04
          id: linux
          llvm_arch: x64
          base_flags: >-
            -DCMAKE_C_COMPILER=clang
            -DCMAKE_CXX_COMPILER=clang++
          extra_flags: >-
            -DCMAKE_EXE_LINKER_FLAGS=-static-libstdc++
            -DDEBASE_VERBOSE_LINKER=ON
            -DDUMP_LIBS=ON
          build_flags: --parallel

    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    env:
      CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm-cache
      LLVM_DIR: ${{ github.workspace }}/llvm/lib/cmake

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup CPM Cache
      uses: actions/cache@v4
      with:
        path: cpm-cache
        key: cpm-${{ matrix.id }}-${{ hashFiles('scripts/DebaseLLVM.cmake') }}
        restore-keys: |
          cpm-${{ matrix.id }}-

    - name: Install dependencies (act)
      if: ${{ env.ACT }}
      uses: ./.github/actions/install-act-deps
      with:
        matrix_id: ${{ matrix.id }}

    - name: Install Ninja
      shell: bash
      run: |
        curl -L https://github.com/ninja-build/ninja/releases/latest/download/ninja-${{ matrix.id }}.zip -o ninja.zip
        7z x -y ninja.zip -o"$GITHUB_WORKSPACE/ninja"
        echo "$GITHUB_WORKSPACE/ninja" >> $GITHUB_PATH
    
    - name: Restore cached LLVM
      id: cache-llvm-restore
      uses: actions/cache/restore@v4
      with:
        path: llvm
        key: ${{ matrix.id }}-llvm-${{ env.LLVM_VERSION }}

    - name: Install LLVM
      uses: ./.github/actions/install-llvm
      with:
        matrix_id: ${{ matrix.id }}
        llvm_version: ${{ matrix.llvm_version || env.LLVM_VERSION }}
        llvm_arch: ${{ matrix.llvm_arch }}
        cached: ${{ steps.cache-llvm-restore.outputs.cache-hit == 'true' }}

    - name: Save cached LLVM
      # LLVM is fucking massive, only save it locally
      if: ${{ env.ACT }}
      id: cache-llvm-save
      uses: actions/cache/save@v4
      with:
        path: llvm
        key: ${{ steps.cache-llvm-restore.outputs.cache-primary-key }}

    - name: Configure
      run: >
        cmake . -B build
        -DCMAKE_BUILD_TYPE=Release
        ${{ matrix.base_flags }}
        -DCMAKE_LINKER_TYPE=LLD
        -DLLVM_DIR=${{ env.LLVM_DIR }}
        -DDEBASE_TESTS=OFF
        -G Ninja
        ${{ matrix.extra_flags }}

    - name: Build
      run: cmake --build build --config Release ${{ matrix.build_flags }}

    - name: Upload Artifacts
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: debase-${{ matrix.id }}
        path: |
          build/driver/debase
          build/driver/debase.exe
        if-no-files-found: ignore

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    if: ${{ !github.event.act && github.ref == 'refs/heads/main' }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
  
    - name: Download Artifacts
      uses: actions/download-artifact@v4
  
    - name: Move Binaries
      run: |
        mv debase-win/debase.exe debase-win.exe
        mv debase-mac/debase     debase-mac-temp
        mv debase-linux/debase   debase-linux-temp
        rmdir debase-mac
        rmdir debase-linux
        mv debase-mac-temp    debase-mac
        mv debase-linux-temp  debase-linux
  
    - name: Update Debase Release
      uses: andelf/nightly-release@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: debase
        name: 'Debase Release'
        body: Debase release for commit ${{ github.sha }}.
        files: |
          ./debase-win.exe
          ./debase-mac
          ./debase-linux
