name: Build Debase

on:
  push:
    branches:
    - 'main'
    paths:
      - '.github/workflows/build.yml'
      - 'CMakeLists.txt'
      - 'driver/**'
      - 'scripts/**'

env:
  LLVM_VERSION: 19.1.0

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: Windows
          os: windows-latest
          id: win
          llvm_arch: x64
          extra_flags: ''
        
        # - name: macOS
        #   os: macos-latest
        #   id: mac
        #   llvm_arch: arm64
        #   extra_flags: >
        #     -DCMAKE_OSX_ARCHITECTURES='arm64'
        #     -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
        #     -DCMAKE_AR='/usr/bin/ar'
        #     -DCMAKE_RANLIB='/usr/bin/ranlib'

        #  - name: Linux
        #    os: ubuntu-22.04
        #    id: linux
        #    llvm_arch: x64
        #    extra_flags: ''

    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    env:
      CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm-cache
      LLVM_DIR: ${{ github.workspace }}/llvm/lib/cmake

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup CPM Cache
      uses: actions/cache@v4
      with:
        path: cpm-cache
        key: cpm-${{ matrix.id }}-v1-${{ hashFiles('driver/CMakeLists.txt') }}
        restore-keys: |
          cpm-${{ matrix.id }}-v1-

    - name: Install Ninja
      shell: bash
      run: |
        curl -L https://github.com/ninja-build/ninja/releases/latest/download/ninja-${{ matrix.id }}.zip -o ninja.zip
        7z x ninja.zip -o"$GITHUB_WORKSPACE/ninja"
        echo "$GITHUB_WORKSPACE/ninja" >> $GITHUB_PATH
    
    #- name: Cache LLVM
    #  id: cache-llvm
    #  uses: actions/cache@v4
    #  with:
    #    path: llvm
    #    key: ${{ matrix.config.id }}-llvm-${{ matrix.config.llvm_version }}

    - name: Install LLVM
      if: matrix.id != 'win'
      uses: KyleMayes/install-llvm-action@v2
      with:
        version: ${{ matrix.llvm_version || env.LLVM_VERSION }}
        directory: llvm
        arch: ${{ matrix.llvm_arch }}
    
    - name: Install LLVM (windows)
      if: matrix.id == 'win'
      shell: bash
      run: |
        set -eux
        curl -fL --retry 3 --max-time 300 -o clang+llvm.tar.xz \
          https://github.com/llvm/llvm-project/releases/download/llvmorg-${{env.LLVM_VERSION}}/clang+llvm-${{env.LLVM_VERSION}}-x86_64-pc-windows-msvc.tar.xz
        mkdir llvm
        tar -xf clang+llvm.tar.xz --strip 1 -C llvm --wildcards \
          'bin/clang.exe'                                       \
          'bin/clang++.exe'                                     \
          'bin/lld-link.exe'                                    \
          'bin/llvm-rc.exe'                                     \
          'bin/*.dll'                                           \
          'lib/*.lib'                                           \
          'lib/cmake/llvm/*'                                    \
          'lib/clang/*/include/*'                               \
          'lib/clang/*/lib/windows/*'
        rm clang+llvm.tar.xz
        echo "$GITHUB_WORKSPACE/llvm/bin" >> $GITHUB_PATH
      #with:
      #  version: ${{ matrix.llvm_version || env.LLVM_VERSION }}
      #  directory: llvm
      #  arch: ${{ matrix.llvm_arch }}

    # Can maybe remove this
    #- name: Add Clang to PATH
    #  id: clang-info
    #  shell: bash
    #  run: |
    #    set -eux
    #    echo "llvm/bin" >> $GITHUB_PATH

    - name: Configure
      run: >
        cmake . -B build
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_C_COMPILER=clang
        -DCMAKE_CXX_COMPILER=clang++
        -DCMAKE_LINKER_TYPE=LLD
        -DLLVM_DIR=${{ env.LLVM_DIR }}
        -DDUMP_LIBS=ON
        -DDEBASE_VERBOSE_LINKER=ON
        -DDEBASE_TESTS=OFF
        -G Ninja
        ${{ matrix.extra_flags }}

    - name: Build
      run: cmake --build build --config Release --parallel

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: debase-${{ matrix.id }}
        path: |
          build/driver/debase
          build/driver/debase.exe
        if-no-files-found: ignore

  # publish:
  #   name: Publish
  #   runs-on: ubuntu-latest
  #   needs: build
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v4
  # 
  #   - name: Download Artifacts
  #     uses: actions/download-artifact@v4
  # 
  #   - name: Move Binaries
  #     run: |
  #       mv debase-win/debase.exe debase-win.exe
  #       mv debase-mac/debase     debase-mac-temp
  #       mv debase-linux/debase   debase-linux-temp
  #       rmdir debase-mac
  #       rmdir debase-linux
  #       mv debase-mac-temp    debase-mac
  #       mv debase-linux-temp  debase-linux
  # 
  #   - name: Update Debase Release
  #     uses: andelf/nightly-release@main
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     with:
  #       tag_name: debase
  #       name: 'Debase Release'
  #       body: Debase release for commit ${{ github.sha }}.
  #       files: |
  #         ./debase-win.exe
  #         ./debase-mac
  #         ./debase-linux
