name: Build Debase

on:
  push:
    branches:
    - 'main'
    paths:
      - '.github/workflows/build.yml'
      - 'CMakeLists.txt'
      - 'driver/**'
      - 'scripts/**'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest
          id: win
          llvm_version: '19.1.0'
          llvm_arch: x64
          extra_flags: >
            -DLLVM_DIR='${{ github.workspace }}\llvm\lib\cmake'
        
      #  - name: macOS
      #    os: macos-latest
      #    id: mac
      #    llvm_version: '19.1.0'
      #    llvm_arch: arm64
      #    extra_flags: >
      #      -DCMAKE_OSX_ARCHITECTURES='arm64'
      #      -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
      #      -DCMAKE_AR='/usr/bin/ar'
      #      -DCMAKE_RANLIB='/usr/bin/ranlib'
      #  
      #  - name: Linux
      #    os: ubuntu-22.04
      #    id: linux
      #    llvm_version: '19.1.0'
      #    llvm_arch: x64
      #    extra_flags: ''

    name: Build ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    env:
      CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm-cache

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup CPM Cache
      uses: actions/cache@v4
      with:
        path: cpm-cache
        key: cpm-${{ matrix.config.id }}-v1-${{ hashFiles('driver/CMakeLists.txt') }}
        restore-keys: |
          cpm-${{ matrix.config.id }}-v1-

    - name: Install Ninja
      shell: bash
      run: |
        curl -L https://github.com/ninja-build/ninja/releases/latest/download/ninja-${{ matrix.config.id }}.zip -o ninja.zip
        7z x ninja.zip -o"$GITHUB_WORKSPACE/ninja"
        echo "$GITHUB_WORKSPACE/ninja" >> $GITHUB_PATH
    
    - name: Cache LLVM
      id: cache-llvm
      uses: actions/cache@v4
      with:
        path: llvm
        key: ${{ runner.os }}-llvm-${{ matrix.config.llvm_version }}

    - name: Install LLVM
      if: steps.cache-llvm.outputs.cache-hit != 'true'
      uses: KyleMayes/install-llvm-action@v2
      with:
        version: ${{ matrix.config.llvm_version }}
        directory: ${{ github.workspace }}/llvm
        arch: ${{ matrix.config.llvm_arch }}

    # Can maybe remove this
    - name: Add Clang to PATH
      run: |
        echo "llvm/bin" >> $GITHUB_PATH

    - name: Configure
      run: >
        cmake . -B build
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_C_COMPILER=clang
        -DCMAKE_CXX_COMPILER=clang++
        -DCMAKE_LINKER_TYPE=LLD
        -DDUMP_LIBS=ON
        -DDEBASE_VERBOSE_LINKER=ON
        -DDEBASE_TESTS=OFF
        -G Ninja
        ${{ matrix.config.extra_flags }}

    - name: Build
      run: cmake --build build --config Release --parallel

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: debase-${{ matrix.config.id }}
        path: |
          build/driver/debase
          build/driver/debase.exe
        if-no-files-found: ignore

  # publish:
  #   name: Publish
  #   runs-on: ubuntu-latest
  #   needs: build
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v4
  # 
  #   - name: Download Artifacts
  #     uses: actions/download-artifact@v4
  # 
  #   - name: Move Binaries
  #     run: |
  #       mv debase-win/debase.exe debase-win.exe
  #       mv debase-mac/debase     debase-mac-temp
  #       mv debase-linux/debase   debase-linux-temp
  #       rmdir debase-mac
  #       rmdir debase-linux
  #       mv debase-mac-temp    debase-mac
  #       mv debase-linux-temp  debase-linux
  # 
  #   - name: Update Debase Release
  #     uses: andelf/nightly-release@main
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     with:
  #       tag_name: debase
  #       name: 'Debase Release'
  #       body: Debase release for commit ${{ github.sha }}.
  #       files: |
  #         ./debase-win.exe
  #         ./debase-mac
  #         ./debase-linux
